:root {
    font-family: Consolas, monaco, monospace;
    --font: Consolas, monaco, monospace;
    color: #f2f3f4;
    --text-color: #f2f3f4;
    background-color: #0e0e10;
    --bg-color: #0e0e10;
}

html {
    scrollbar-gutter: stable force;
    scrollbar-width: thin;
    scrollbar-color: dimgrey black;
}